@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-out both;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);

    }
  }
}
<<<<<<< HEAD
@keyframes bounce {
=======
@keyframes jumpAnim {
>>>>>>> 2876e1ac1b8deba8229712059eb4508b59c3312e
  0%, 100% {
    transform: translateY(0);
  }
  50% {
<<<<<<< HEAD
    transform: translateY(-15px);
=======
    transform: translateY(-20px);
>>>>>>> 2876e1ac1b8deba8229712059eb4508b59c3312e
  }
}

.jump {
<<<<<<< HEAD
  animation: bounce 0.6s ease-in-out infinite;
}


=======
  animation: jumpAnim 0.5s ease infinite;
}

>>>>>>> 2876e1ac1b8deba8229712059eb4508b59c3312e
